.hero {
  display: grid;
  grid-template-areas:
    'top-left'
    'top-right'
    'bottom-left'
    'bottom-right';
  background-color: var(--primary);
  height: 100vh;
  width: 100%;
}

.front {
  border-bottom: 0.5px solid var(--secondary);
  height: calc(100vh - 5rem);
  background-image: url('../../assets/front-img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.front h1 {
  font-size: 160px;
  color: var(--secondary);
  font-weight: 100;
}

.front .front-link {
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  color: var(--secondary);
  font-weight: 100;
  border: 0.5px solid var(--secondary);
  padding: 14px 70px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .hero {
    grid-template-areas:
      'top-left top-left top-left top-right'
      'bottom-left bottom-left bottom-right bottom-right';
  }
}
