.navbar {
  display: flex;
  list-style-type: none;
  height: 5rem;
  background-color: var(--primary);
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary);
}

li {
  color: var(--secondary);
  font-weight: 100;
  font-size: 2rem;
}

.login-link {
  color: var(--secondary);
  font-weight: 100;
  font-size: 2rem;
  background-color: var(--primary);
  border: 0.5px solid var(--secondary);
  padding: 5px 20px;
  text-decoration: none;
}
